.modal-content {
   width: 800px;
   right: 100px;
   -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
   box-shadow: 0 5px 15pxrgba(0,0,0,.5);
}

button.close {
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   /* background: blue; */
   margin-top: -24px;
   font-size: 30px;
}

.modal-header .close {
   margin-top: -24px;
   font-size: 30px;
}
